#phrase-list li {
  position: relative;
  background: #00aabb;
  color: white;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 0 10px 20px;
}

#phrase-list li:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: #00aabb;
  border-left: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-left: -20px;
}
