img {
  width: 150px;
  height: 150px;
}

.Pants img {
  width: 150px;
  height: 200px;
}

input[type='text']:focus,
select:focus,
textarea:focus {
  border: none;
  box-shadow: 0 0 3px 2px var(--color5);
  outline: none;
}

input[type='text'] + label,
select + label,
textarea + label,
.form-control > label {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  font-weight: bold;
}
